<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unluckyworker.appointment.dao.VisitMapper">
    <select id="queryVisitById" resultType="java.util.HashMap" parameterType="int">
        select *
        from test.doctor join test.visit on doctor.did = visit.did
        where test.visit.did = #{did}
    </select>

</mapper>